.footer {
  position: fixed;
  height: fit-content;
  bottom: 0;
  width: 100%;
}
.heading {
  width: 60%;
  margin: auto;
}
.content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #777;
}
footer {
  padding: 2rem 0;
  text-align: center;
}
