body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
}

.div__btn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 5px 1px #ffff00;
    border: 3px solid #ffff00;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1000px 1000px #ffff00;
    transition: all 1s ease-in-out;
}