* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #c1c1e7;
}
.btn {
  position: relative;
  border: none;
  background-color: inherit;
}
.btn-text-one {
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #0d0d58;
  box-shadow: 0 5px 20px 2px #202020;
}
.btn-text-two {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  z-index: -10;
}
.btn:hover {
  transform: translateY(-100%);
  box-shadow: 0 0 200px 200px #fff, 0 15px 1000px 1000px #000;
  transition: all 1s ease-in-out;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.btn:hover .btn-text-two {
  z-index: 2;
  transform: translate(-25%, 3rem);
  transition: all 1s ease-in-out;
  padding: 0.5rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 1rem;
  width: max-content;
}
